<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <style type="text/css">
    .feedback {
      /*background-color : #31B0D5;*/
      color: white;
      padding: 30px 20px;
      border-radius: 50%;
      /*border-color: #46b8da;*/
    }

    #mybutton {
      position: fixed;
      bottom: 12px;
      right: 14px;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h1>Todos</h1>
             <form action="{% url 'addTask' %}" method="POST">
                {% csrf_token %}
                 <div class="row">
                    <div class="col-md-10">
                        <!-- <input type="text" class="form-control add-todo" placeholder="Add todo">  -->
                        {{ workForm.as_p }}
                    </div>
                        <div class="">
                            <input type="submit" class="btn btn-xl btn-primary" value="Add Task">
                        </div>
                    </div>
             </form>
             <script type="text/javascript">
                 document.getElementById("id_task").classList.add("form-control");
                 document.getElementById("id_task").classList.add("add-todo");
                 // document.getElementById("id_task").classList.add("mystyle");
             </script>
                    <a id="checkAll" class="text-light btn btn-success" href="{% url 'makeAllAsDone' %}"> Mark All As Done</a>
                    
                    <hr>
                    <ul id="sortable" class="list-unstyled">

                    {% for task in works %}
                    {% if task.is_done is False %}
                    <li class="ui-state-default">
                        <div class="checkbox">
                            <label>
                                <a href="{% url 'markDone' task.id %}">
                                    <input type="checkbox" value="" />{{ task.task }}</label>
                                </a>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}

                </ul>
                <div class="todo-footer">
                    <strong>
                        <span class="count-todos">
                           {% if not_done %}
                                {{ not_done }}
                            {% else %}
                            0
                            {% endif %}
                        </span>
                    </strong>

                    Items Left

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="todolist">
             <h1>Already Done</h1>
                <ul id="done-items" class="list-unstyled">


                        {% for task in works %}
                        {% if task.is_done %}
                        <li>
                            {{ task.task }}
                            <a class="remove-item btn btn-default btn-xs pull-right" href="{% url 'markDone' task.id %}">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    
                </ul>
                <div class="todo-footer">
                    <strong>
                        <span class="count-todos">
                           {% if is_done %}
                                {{ is_done }}
                            {% else %}
                            0
                            {% endif %}
                        </span>
                    </strong>

                    Items Left

                </div>
            </div>
        </div>
    </div>
</div>

            
<div id="mybutton">
<a class="feedback btn btn-xl btn-danger" href="{% url 'logout' %}">Logout</a>
</div>
</body>
</html>