{% extends 'users/base.html' %}


{% block title %} Signup {% endblock %}

{% block content %}



	<form class="login100-form validate-form" action="" method="POST">
		{% csrf_token %}
		
		{% for field in form %}
		<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
			<span class="label-input100 text-nowrap">{{ field.label_tag }}</span>
			{{ field }}
<!-- 			{% if field.help_text %}
			<span class="focus-input100">{{ field.help_text }}</span>
			{% endif %} -->
			{% for error in field.errors %}
			<span class="focus-input100 text-danger">{{ error }}</span>
			{% endfor %}
		</div>
		{% endfor %}

		<div class="flex-sb-m w-full p-b-30">
			<div class="contact100-form-checkbox">
				<a href="{% url 'login' %}" class="txt1">
					Already Have an Account?
				</a>
			</div>

			<div>
				<a href="{% url 'signup' %}" class="txt1">
					Forgot Password?
				</a>
			</div>
		</div>

		<div class="container-login100-form-btn">
			<button class="login100-form-btn">
				Login
			</button>
		</div>
	</form>

{% endblock %}